@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables for Colors */
:root {
  --background: #ffffff;
  --foreground: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ededed;
  }
}

/* Body Styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
header {
  background-color: var(--background);
  color: var(--foreground);
}

/* Gallery Grid */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Category Filter */
.category-filter {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

.category-filter button {
  background-color: var(--background);
  color: var(--foreground);
  border: 2px solid transparent;
  width: 128px; /* Same as w-32 in Tailwind */
  padding: 8px 16px; /* Same as px-4 py-2 */
  border-radius: 8px;
  text-align: center;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.category-filter button:hover {
  border-color: white;
}

.category-filter button.selected {
  border-color: white;
  color: var(--foreground);
}

/* Pagination */
.pagination-wrapper {
  display: flex;
  justify-content: center;
  padding: 16px;
  margin-top: auto; /* Pushes pagination to the bottom of the main section */
}

.pagination-wrapper button {
  background-color: var(--background);
  color: var(--foreground);
  border: 2px solid transparent;
  width: 128px; /* Same as w-32 in Tailwind */
  padding: 8px 16px; /* Same as px-4 py-2 */
  border-radius: 8px;
  text-align: center;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.pagination-wrapper button:hover {
  border-color: white;
}

.pagination-wrapper button.selected {
  border-color: white;
  color: var(--foreground);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 16px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

.close-button {
  margin-top: 16px;
  background: var(--background);
  color: var(--foreground);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
}

/* Footer */
footer {
  background-color: #212121;
  color: white;
  text-align: center;
  padding: 16px;
  margin-top: auto;
}
